body {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    //overflow: hidden;
    margin: 0;
    padding: 0;
}

table {
    font-size: 1em;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}
#success, #error{
    min-height: 200px;
    overflow: auto;
}
#success ul, #error ul{
    margin: 0;
    padding: 0;
    overflow: auto;
}